@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.theme-color-text {
  color: #fe725d !important;
}
.theme-bg-color {
  background-color: #fe725d !important;
}

.theme-border-color {
  border-color: #fe725d !important;
}
